# Vaccine Data Analysis using Pandas

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd

In [2]:
df = pd.read_csv('country_vaccinations_by_manufacturer.csv')

In [3]:
df

             location        date             vaccine  total_vaccinations
0             Austria  2021-01-08     Johnson&Johnson                   0
1             Austria  2021-01-08             Moderna                   0
2             Austria  2021-01-08  Oxford/AstraZeneca                   0
3             Austria  2021-01-08     Pfizer/BioNTech               31236
4             Austria  2021-01-15     Johnson&Johnson                   0
...               ...         ...                 ...                 ...
21374  European Union  2021-11-12  Oxford/AstraZeneca            67200923
21375  European Union  2021-11-12     Pfizer/BioNTech           429215338
21376  European Union  2021-11-12   Sinopharm/Beijing             2150730
21377  European Union  2021-11-12             Sinovac                   9
21378  European Union  2021-11-12           Sputnik V             1845011

[21379 rows x 4 columns]

## South Korea data

In [4]:
south_korea_data = df[ df['location'] == 'South Korea' ]

In [5]:
south_korea_data

          location        date             vaccine  total_vaccinations
14218  South Korea  2021-02-26     Johnson&Johnson                  14
14219  South Korea  2021-02-26             Moderna                7113
14220  South Korea  2021-02-26  Oxford/AstraZeneca               21669
14221  South Korea  2021-02-26     Pfizer/BioNTech                2228
14222  South Korea  2021-02-27     Johnson&Johnson                  16
...            ...         ...                 ...                 ...
15253  South Korea  2021-11-11     Pfizer/BioNTech            44445048
15254  South Korea  2021-11-12     Johnson&Johnson             1496969
15255  South Korea  2021-11-12             Moderna            13119622
15256  South Korea  2021-11-12  Oxford/AstraZeneca            22125290
15257  South Korea  2021-11-12     Pfizer/BioNTech            44652959

[1040 rows x 4 columns]

In [6]:
south_korea_data.describe()

       total_vaccinations
count        1.040000e+03
mean         6.937404e+06
std          1.020219e+07
min          1.400000e+01
25%          6.608925e+04
50%          1.463677e+06
75%          1.130073e+07
max          4.465296e+07

In [18]:
updated_vaccination_in_sk = south_korea_data.groupby('vaccine').max()

In [19]:
updated_vaccination_in_sk

                       location        date  total_vaccinations
vaccine
Johnson&Johnson     South Korea  2021-11-12             1496969
Moderna             South Korea  2021-11-12            13119622
Oxford/AstraZeneca  South Korea  2021-11-12            22125290
Pfizer/BioNTech     South Korea  2021-11-12            44652959

In [20]:
biggest_vaccine_total_sk = updated_vaccination_in_sk.max()

In [21]:
biggest_vaccine_total_sk.values

array(['South Korea', '2021-11-12', 44652959], dtype=object)

In [22]:
biggest_vaccine_sk = updated_vaccination_in_sk[updated_vaccination_in_sk['total_vaccinations'] == biggest_vaccine_total_sk.values[2]]

In [23]:
biggest_vaccine_sk.index[0]

'Pfizer/BioNTech'

### Another way

In [24]:
biggest_vaccine_total_sk = updated_vaccination_in_sk.agg({'total_vaccinations':'max'})

In [25]:
biggest_vaccine_total_sk

total_vaccinations    44652959
dtype: int64

In [28]:
assert biggest_vaccine_sk.index[0] == 'Pfizer/BioNTech'